<!--partenaires-->
<section class="partners">
  <div class="regroup">
    <h2>Partenaires & certifications</h2>
    <div class="brand">
      <ul>
        <li>
          <img src="assets/images/rge_qualibat.png" alt="logo_rge_qualibat" />
        </li>
        <li>
          <img src="assets/images/logo-synerciel.png" alt="logo_synerciel" />
        </li>
        <li><img src="assets/images/isover.jpg" alt="logo_isover" /></li>
        <li>
          <img
            src="assets/images/Ministère_de_la_transition_écologique_et_solidaire.png"
            alt="logo_Ministère_de_la_transition_écologique_et_solidaire"
          />
        </li>
        <li><img src="assets/images/siniat.jpg" alt="logo_siniat" /></li>
      </ul>
    </div>
  </div>
</section>
<div style="height: 50px">
  <button onclick="retourHaut()" id="haut" title="Retour haut de page">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      x="0px"
      y="0px"
      viewBox="0 0 490.523 490.523"
      style="enable-background: new 0 0 490.523 490.523"
      xml:space="preserve"
      width="32px"
      height="32px"
      class="arrow_orange"
    >
      <g>
        <path
          style="fill: #ffc107"
          d="M487.411,355.047L252.744,120.38c-4.165-4.164-10.917-4.164-15.083,0L2.994,355.047  c-4.093,4.237-3.976,10.99,0.262,15.083c4.134,3.993,10.687,3.993,14.821,0l227.115-227.115l227.115,227.136  c4.237,4.093,10.99,3.976,15.083-0.261c3.993-4.134,3.993-10.688,0-14.821L487.411,355.047z"
          data-original="#FFC107"
        />
        <path
          d="M479.859,373.266c-2.831,0.005-5.548-1.115-7.552-3.115L245.192,143.015L18.077,370.151  c-4.237,4.093-10.99,3.976-15.083-0.262c-3.993-4.134-3.993-10.687,0-14.821l234.667-234.667c4.165-4.164,10.917-4.164,15.083,0  l234.667,234.667c4.159,4.172,4.148,10.926-0.024,15.085C485.388,372.146,482.681,373.265,479.859,373.266z"
          data-original="#000000"
          class="active-path"
          style="fill: #ffffff"
          data-old_color="#000000"
        />
      </g>
    </svg>
  </button>
</div>
