<!--copyright-->
<section class="copyright">
  <ul class="mentions">
    <li>
      <a href="https://confort-isolation.fr/corporation.php"
        >Notre mission</a
      >
    </li>
    <li>
      <a href="https://confort-isolation.fr/mentions_legales.php"
        >Mentions légales</a
      >
    </li>
    <li>
      <a href="https://confort-isolation.fr/public/contact.php"
        >
        </a
      >
    </li>
    <li>
      <a href="https://confort-isolation.fr/rgpd.php"
        >Politiques de vie privées</a
      >
    </li>
    <li>©Confort Isolation 2019-2021 - Tout droits reservés</li>
  </ul>
</section>
